.come-back__arrow {
  display: inline-block;
  width: 30px;
  height: 15px;
  background-image: url(../img/Arrow-room.svg);
}

.come-back__text {
  display: inline-block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  padding-left: 5px;
  margin-bottom: 20px;
}

.banner {
  margin-bottom: 100px;
}

.room__bg {
  max-width: 1440px;
  max-height: 750px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.room1__bg {
  background-image: url(../img/bg-room1.png);
}

.banner__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__title {
  font-size: 90px;
  line-height: 80px;
  padding-top: 28%;
  padding-bottom: 29%;
}

.vibes__text {
  max-width: 1000px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.specification {
  margin-bottom: 100px;
}

.specification__title {
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.specification__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specification__text {
  max-width: 500px;
  font-size: 20px;
  line-height: 28px;
}

.specification__text_margin {
  margin-bottom: 20px;
}

.other-rooms {
  margin-bottom: 132px;
}

.other-rooms__flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.other-rooms__item {
  position: relative;
}

.other-rooms__text {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 45px);
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1439px) {
  .banner {
    margin-bottom: 70px;
  }

  .vibes__text {
    max-width: 800px;
    font-size: 20px;
    margin-bottom: 70px;
  }

  .specification {
    margin-bottom: 70px;
  }

  .specification__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .specification__img {
    max-width: 461px;
  }

  .specification__text {
    max-width: 413px;
    font-size: 18px;
  }

  .other-rooms {
    margin-bottom: 82px;
  }  
}

@media (max-width: 1023px) {
  .banner {
    margin-bottom: 60px;
  }
  .banner__title {
    font-size: 60px;
    line-height: 120%;
  }

  .vibes__text {
    max-width: 688px;
    font-size: 16px;
    margin-bottom: 60px;
  }

  .specification {
    margin-bottom: 60px;
  }

  .specification__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .specification__img {
    width: 329px;
    height: 326px;
  }

  .specification__text {
    max-width: 313px;
    font-size: 16px;
  }

  .other-rooms {
    margin-bottom: 70px;
  }

  .other-rooms__flex {
    gap: 8px;
  }

  .other-rooms__text {
    font-size: 20px;
    top: calc(50% - 24px);
    left: calc(50% - 30px);
  }
}

@media (max-width: 745px) {
  .specification__flex {
    flex-direction: column;
    gap: 15px;
  }

  .specification__img {
     width: 100%;
     height: 100%;
  }

  .specification__text {
    max-width: 461px;
  }

  .other-rooms__text {
    font-size: 16px;
    top: calc(50% - 19px);
    left: calc(50% - 24px);
  }
}

@media (max-width: 520px) {
  .banner {
    margin-bottom: 30px;
  }

  .banner__title {
    font-size: 30px;
    line-height: 120%;
    padding-top: 22%;
    padding-bottom: 25%;
  }

  .vibes__text {
    margin-bottom: 30px;
  }

  .specification {
    margin-bottom: 30px;
  }

  .specification__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .specification__text {
    font-size: 12px;
    line-height: 16px;
  }

  .other-rooms {
    margin-bottom: 37px;
  }

  .other-rooms__flex {
    flex-wrap: wrap;
    gap: 5px;
  }

  .other-rooms__item {
    width: 100%;
  }

  .other-rooms__img {
    width: 100%;
  }

  .other-rooms__text {
    font-size: 20px;
    top: calc(50% - 24px);
    left: calc(50% - 30px);
  }
}