.about-us {
  margin-bottom: 100px;
}

.about-us__title {
  margin-bottom: 50px;
}

.about-us__flex {
  display: grid;
  grid-template-columns: 600px 500px;
  grid-template-rows: 222px 325px;
  justify-content: center;
  gap: 60px 80px;
}

.about-us__block1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  max-width: 600px;
}

.about-us__block2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.about-us__block3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.about-us__text {
  font-size: 20px;
  line-height: 28px;
}

.about-us__text_margin {
  margin-bottom: 59px;
}

.about-us__right {
  display: flex;
  justify-content: right;
}

.about-us_q {
  width: 400px;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  margin-left: 31px;
  margin-bottom: 40px;
}

.quotes {
  color: #6C0287;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
}

.quotes_left {
  position: absolute;
  left: -30px;
}

.quotes_right {
  position: absolute;
  padding-left: 13px;
}

.about-us__figure {
  width: 385px;
  height: 84px;
  display: flex;
  gap: 30px;
}

@media (max-width: 1439px) {
  .about-us {
    margin-bottom: 70px;
  }

    .about-us__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .about-us__flex {
    grid-template-columns: 420px 444px;
    grid-template-rows: 195px 217px;
     gap: 26px  40px;
  }

  .about-us__text {
    font-size: 18px;
    line-height: 24px; 
  }

  .about-us_q {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 13px;
  }

  .quotes {
    font-size: 30px;
    line-height: 36px;
  }

  .about-us__figure {
    width: 345px;
    height: 78px;
  }
}

@media (max-width: 1023px) {
  .about-us {
    margin-bottom: 60px;
  }

  .about-us__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .about-us__flex {
    grid-template-columns: 382px 278px;
    grid-template-rows: 380px 184px;
    gap: 30px 28px;
  }

  .about-us__block2 {
    padding-top: 60px;
  }

  .about-us__text {
    font-size: 16px;
    line-height: 22px;
  }

  .about-us__text_margin {
    margin: 0;
  }

  .about-us__block3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .about-us_q {
    font-size: 32px;    
  }

  .quotes {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .about-us__flex {
    grid-template-columns: 480px;
    grid-template-rows: 145px 480px 200px;
  }
  
  .about-us__block1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .about-us__block2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0;
  }

  .about-us__block3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media (max-width: 520px) {
  .about-us {
    margin-bottom: 30px;
  }

  .about-us__title {
    font-size: 14px;
    line-height: 18px;
  }

  .about-us__flex {
    grid-template-columns: 280px;
    grid-template-rows: 127px 280px 164px;
    gap: 15px;
  }

  .about-us__text {
    font-size: 12px;
    line-height: 16px;
  }

  .about-us_q {
    width: 280px;
    font-size: 18px;
    line-height: 26px;
    margin-left: 15px;
    margin-bottom: 9px;
  }

  .quotes {
    font-size: 18px;
    line-height: 26px;
  }

  .quotes_left {
    left: -15px;
  }

  .quotes_right {
    padding-left: 5px;
  }

  .about-us__figure {
    height: 56px;
    align-items: center;
    gap: 11px;
  }
}