.about-us {
  margin-bottom: 100px;
}

.about-us__title {
  margin-bottom: 50px;
}

.about-us__flex {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.about-us__block1 {
  max-width: 600px;
}

.about-us__block2 {
  width: 42.4%;
}

.about-us__text {
  font-size: 20px;
  line-height: 28px;
}

.about-us__text_margin {
  margin-bottom: 59px;
}

.about-us__right {
  display: flex;
  justify-content: right;
}

.about-us_q {
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  margin-left: 31px;
  margin-bottom: 40px;
}

.quotes {
  color: #6C0287;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
}

.quotes_left {
  position: absolute;
  left: -30px;
}

.about-us__figure {
  width: 385px;
  height: 84px;
  display: flex;
  gap: 30px;
}