.contacts {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
  padding-bottom: 10px;
}

.contacts__title {
  margin-bottom: 40px;
}

.contacts__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.data {
  display: flex;
  align-items: center;
  gap: 31px;
  width: 350px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
}

.contacts__address {
  margin-bottom: 38px;
}

.contacts__icon {
  color: #CD06FF;
}

.contacts__icon:hover {
  color: #EADEED;
}

.contacts__icon:focus {
  color: #EADEED;
}

.contacts__icon:active {
  color: #810b9e;
}

.contacts__phone {
  margin-bottom: 11px;
}

.contacts__mail {
  margin-bottom: 35px;
}

.contacts__elem {
  display: flex;
  gap: 26px;
}

.contacts__link:hover {
  color: #EADEED;
}

.contacts__link:focus {
  color: #EADEED;
}

.contacts__link:active {
  color: #CD06FF;
}

.contacts__text {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.contacts__text_2_1 {
  margin-bottom: 6px;
}