.contacts {
  margin-bottom: 50px;
}

.contacts__title {
  margin-bottom: 54px;
}

.data {
  display: flex;
  align-items: center;
  gap: 31px;
  width: 350px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
}

.contacts__address {
  margin-bottom: 38px;
}

.contacts__address_icon {
  content: "";
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url(/img/location.svg);
}

.contacts__phone {
  margin-bottom: 11px;
}

.contacts__phone_icon {
  content: "";
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url(/img/phone.svg);
}

.contacts__mail {
  margin-bottom: 39px;
}

.contacts__mail_icon {
  content: "";
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url(/img/envelope.svg);
}

.contacts__elem {
  display: flex;
  gap: 26px;
}

.contacts__elem_vk {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/img/vk.svg);
}

.contacts__elem_telegram {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/img/telegram.svg);
}

.contacts__elem_pinterest {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/img/pinterest.svg);
}

.contacts__elem_stum {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/img/social-stumbleupon.svg);
}