.contacts {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
  padding-bottom: 10px;
}

.contacts__title {
  margin-bottom: 40px;
}

.contacts__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.data {
  display: flex;
  align-items: center;
  gap: 31px;
  width: 350px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
}

.contacts__address {
  margin-bottom: 38px;
}

.contacts__address_icon {
  content: "";
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url(/img/location.svg);
}

.contacts__phone {
  margin-bottom: 11px;
}

.contacts__phone_icon {
  content: "";
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url(/img/phone.svg);
}

.contacts__mail {
  margin-bottom: 35px;
}

.contacts__mail_icon {
  content: "";
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url(/img/envelope.svg);
}

.contacts__elem {
  display: flex;
  gap: 26px;
}

.contacts__elem_vk {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/img/vk.svg);
}

.contacts__elem_telegram {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/img/telegram.svg);
}

.contacts__elem_pinterest {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/img/pinterest.svg);
}

.contacts__elem_stum {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/img/social-stumbleupon.svg);
}

.contacts__text {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.contacts__text_2_1 {
  margin-bottom: 6px;
}