.faq {
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 40px;
}

.faq__element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.faq__element:nth-child(2n) {
  color: #fff;
  background-color: #440F51;
}

.faq__element:nth-child(odd)::after {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url(/img/open-purple.svg);
}

.faq__element:nth-child(even)::after {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url(/img/open.svg);
}