.faq {
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 40px;
}

.faq__element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
}

.faq__element:not(:last-child) {
  margin-bottom: 20px;
}

.faq__element:nth-child(2n) {
  color: #fff;
  background-color: #440F51;
}

.plus-w::after {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url(../img/open-purple.svg);
  cursor: pointer;
}

.plus-p::after {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url(../img/open.svg);
  cursor: pointer;
}

.plus-w:hover::after {
  background: url(../img/open-p.svg);
}

.plus-p:hover::after {
  background: url(../img/open-white-hover.png);
}

.plus-w:active::after {
  background: url(../img/close-p.svg);
}

.plus-p:active::after {
  background: url(../img/open-w.svg);
}

@media (max-width: 1439px) {
  .faq {
    margin-bottom: 70px;
  }

  .faq__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .faq__element {
    /* max-width: 904px; */
    height: 70px;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 20px 12px 25px;
  }

  .faq__element:nth-child(2n){
    color: #1C1A1A;
    background-color: #fff;
  }

  .faq__element:not(:last-child) {
    margin-bottom: 16px;
  }

  .plus-p::after {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url(../img/open-purple.svg);
    cursor: pointer;
  }

  .plus-p:hover::after {
    background: url(../img/open-p.svg);
  }

  .plus-p:active::after {
    background: url(../img/close-p.svg);
  }
}

@media (max-width: 930px) {
  .faq__title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .faq__element {
    max-width: 688px;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 65px 12px 54px;
  }
}

@media (max-width: 520px) {
  .faq {
    margin-bottom: 30px;
  }

  .faq__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .faq__element {
    max-height: 46px;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 13px 7px 10px;
  }

  .plus-p::after {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }

  .plus-w::after {
    background-size: 30px;
    width: 30px;
    height: 30px;
  }

  .plus-w:hover::after {
    background-size: 30px;
  }
  
  .plus-w:active::after {
    background-size: 30px;
  }

  .plus-p:hover::after {
    background-size: 30px;
  }

  .plus-p:active::after {
    background-size: 30px;
  }
}