.halls {
  margin-bottom: 100px;
}

.halls__title{
  margin-bottom: 40px;
}

.halls__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__img {
  position: relative;
  width: 580px;
  height: 349px;
}

.halls__text {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  top: calc(50% - 40px);
}

.halls__star-wars {
  position: relative;
}