.header {
  padding-top: 30px;
  margin-bottom: 50px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.header__link-img {
  max-height: 66px;
}

.header__list {
  display: flex;
  gap: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}

.header__link {
  padding: 3px 5px;
}

.header__link:hover {
  border-radius: 10px;
  background: #6C0287;
}

.header__link:focus {
  border-radius: 10px;
  background: #6C0287;
}

.header__link:active {
  border-radius: 10px;
  background: #640AA3;
}

.header__btn {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  background: #1B1A1B;
  border-radius: 10px;
  border: 3px solid #CD06FF;
  padding: 9px 29px;
}

.header__btn:hover {
  border: 3px solid #6C0287;
  background: #6C0287;
}

.header__btn:focus {
  border: 3px solid #6C0287;
  background: #6C0287;
}

.header__btn:active {
  border: 3px solid #000;
  background: #640AA3;
}

.burger-menu {
  display: none;
}

@media (max-width: 1339px) {
  .header {
    margin-bottom: 30px; 
  }

  .header__link-img::before {
    content: "";
    display: inline-block;
    width: 87px;
    height: 55px;
    background-image: url(/img/logo1024.svg);
  }

  .header__img {
    display: none;
  }

  .header__list {
    gap: 20px;
  }

  .header__item {
    font-size: 18px;
    line-height: 22px;
  }

  .header__btn {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 26px;
  }
}

@media (max-width: 930px) {
  .header {
    padding-top: 32px ;
  }

  .header__nav {
    display: none;
  }

  .burger-menu {
    display: inline-block;
  }

  .burger-menu::after {
    content: "";
    display: inline-block;
    width: 54px;
    height: 29px;
    background-image: url(/img/header-menu.svg);
    margin-bottom: -10px;
  }
}

@media (max-width: 520px) {
  .header {
    margin-bottom: 20px;
  }

  .header__btn {
    display: none;
  }

  .burger-menu::after {
    width: 39px;
    height: 20px;
    background-image: url(/img/header-menu-320.svg);
    margin: 0;
  }

  header .header__link-img {
    width: 66px;
    height: 42px;
  }

  .header__link-img::before {
    width: 66px;
    height: 42px;
    background-image: url(/img/header-logo-320.svg);
  }
}