@import url(./normalize.css);
@import url(./global.css);
@import url(./style.css);
@import url(./header.css);
@import url(./introduction.css);
@import url(./we-have.css);
@import url(./halls.css);
@import url(./reservation.css);
@import url(./about-us.css);
@import url(./reviews.css);
@import url(./faq.css);
@import url(./contacts.css);
@import url(./80vibes.css);
@import url(./star-wars.css);
@import url(./wild-west.css);
@import url(./neon-style.css); 