@import url(/css/normalize.css);
@import url(/css/global.css);
@import url(/css/style.css);
@import url(/css/section-title.css);
@import url(/css/halls.css);
@import url(/css/reservation.css);
@import url(/css/about-us.css);
@import url(/css/reviews.css);
@import url(/css/faq.css);
@import url(/css/contacts.css);