.introduction {
  height: 823px;
  margin-bottom: 100px;
}

.introduction__container_relative {
  position: relative;
}

.introduction__title {
  font-size: 150px;
  font-weight: 900;
  letter-spacing: -15px;
  line-height: 100%;
}

.introduction_p {
  font-size: 28px;
  line-height: 50px;
  padding-left: 100px;
  margin-bottom: 30px;
}

.introduction__psevdo::before {
  content: "";
  display: inline-block;
  width: 675px;
  height: 762px;
  position: absolute;
  background-image: url(/img/Слой\ 1\ 1.png);
  background-repeat: no-repeat;
  right: 9%;
  top: 60px;
}

.introduction__block {
  display: flex;
  align-items: end;
  gap: 40px;
  margin-bottom: 150px;
}

.introduction__block__1 {
  width: 193px;
  text-align: center;
}

.introduction__block__1_four {
  color: #CD06FF;
  font-size: 100px;
  font-weight: 900;
  line-height: normal;
}

.introduction__block__2 {
  width: 166px;
  text-align: center;
}

.introduction__block__2_new {
  color: #CD06FF;
  font-size: 75px;
  font-weight: 900;
  line-height: normal;
  font-variant: all-small-caps;
}

.introduction__text {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

.introduction__link {
  display: inline-block;
  width: 374px;
  height: 80px;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  box-shadow: 0 0 15px #6c0287;
  border-radius: 10px;
  background: #6C0287;
  padding: 25px 69px;
}

.introduction__arrow::after {
  content: "";
  display: inline-block;
  width: 99px;
  height: 99px;
  background-image: url(/img/arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 46%;
  bottom: -14%;
}

.introduction__link:hover {
  background: #840AA3;
}

.introduction__link:focus {
  background: #840AA3;
}

.introduction__link:active {
  background: #640AA3;
}

.introduction__arrow:hover::after {
  background-image: url(/img/arrow-hover.svg);
}

.introduction__arrow:active::after {
  background-image: url(/img/arrow-active.svg);
}

.introduction__arrow:focus::after {
  border: 1px solid #CD06FF;
}

@media (max-width: 1439px) {
  .introduction {
    height: 583px;
    margin-bottom: 83px;
  }

  .introduction__title {
    font-size: 120px;
    letter-spacing: -12px;
    margin-bottom: 20px;
  }

  .introduction_p {
    font-size: 22px;
    line-height: 30px;
  }

  .introduction__block {
    margin-bottom: 80px;
  }

  .introduction__block__1_four {
    font-size: 80px;
  }

  .introduction__text {
    font-size: 26px;
  }

  .introduction__block__2_new {
    font-size: 60px;
  }

  .introduction__link {
    width: 296px;
    height: 64px;
    font-size: 22px;
    padding: 17px 48px;
  }

  .introduction__psevdo::before {
    width: 453px;
    height: 520px;
    background-size: 453px;
    right: 6%;
    top: 63px;
  }

  .introduction__arrow::after {
    width: 67px;
    height: 67px;
    background-size: 67px;
    bottom: -4%;
  }
}

@media (max-width: 930px) {
  .introduction {
    height: 537px;
    margin-bottom: 83px;
  }

  .introduction__title {
    font-size: 86px;
    letter-spacing: -8.6px;
  }

  .introduction_p {
    font-size: 18px;
    line-height: 24px;
    padding-left: 70px ;
    margin-bottom: 50px; 
  }

  .introduction__block {
    gap: 32px;
    margin-bottom: 100px;
  }

  .introduction__block__1 {
    width: 103px;
  }

  .introduction__block__1_four {
    font-size: 50px;
  }

  .introduction__text {
    font-size: 16px;
  }

  .introduction__block__2_new {
    font-size: 40px;
  }

  .introduction__link {
    width: 214px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
    padding: 11px 35px;
  }

  .introduction__arrow {
    display: none;
  }

  .introduction__psevdo::before {
    width: 409px;
    height: 479px;
    background-size: 409px;
  }
}

@media (max-width: 700px) {
  .introduction {
    height: 204px;
    margin-bottom: 46px;
  }

  .introduction__title {
    font-size: 35px;
    letter-spacing: -2.8px;
    margin-bottom: 6px;
  }

  .introduction_p {
    font-size: 10px;
    line-height: 14px;
    padding-left: 20px;
    margin-bottom: 10px; 
  }

  .introduction__block {
    gap: 20px;
    margin-bottom: 30px;
  }

  .introduction__block__1 {
    width: 65px;
  }

  .introduction__block__2 {
    width: 54px;
  }

  .introduction__block__1_four {
    font-size: 26px;
  }

  .introduction__text {
    font-size: 10px;
  }

  .introduction__block__2_new {
    font-size: 22px;
  }

  .introduction__link {
    width: 117px;
    height: 27px;
    font-size: 10px;
    border-radius: 4px;
    line-height: 12px;
    padding: 8px 13px;
  }

  .introduction__psevdo::before {
    width: 161px;
    height: 179px;
    background-size: 161px;
    top: 12%; 
  }
}