.reservation {
  background-color: #440F51;
  margin-bottom: 100px;
}

.reservation__form {
  padding-bottom: 80px;
}

.reservation__title {
  padding-top: 80px;
  margin-bottom: 40px;
}

.reservation__hall {
  border: none;
  margin-bottom: 60px;
}

.reservation__legend {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 40px;
}

.reservation__hall__flex {
  display: flex;
  justify-content: space-between;
}

.reservation__hall__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #FFF;

  cursor: pointer;
  border-radius: 8px;
  padding: 7px 15px 8px;
}

.entertainment {
  max-width: 980px;
  border: none;
  margin: 0 auto 60px;
}

.entertainment__flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.entertainment__console {
  border: none;
}

.entertainment__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 24px;
}

.entertainment__console__flex {
  display: flex;
  flex-direction: column;
}

.entertainment__console__item {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

.entertainment__console__item:not(:last-child) {
  margin-bottom: 20px;
}

.entertainment__console__input {
  width: 27px;
  height: 27px;
}

.board-games {
  border: none;
}

.board-games__flex {
  display: flex;
  flex-direction: column;
}

.board-games__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

.board-games__item:not(:last-child) {
  margin-bottom: 20px;
}

.board-games__checkbox {
  width: 25px;
  height: 25px;
}

.additionally {
  border: none;
}

.additionally__flex {
  display: flex;
  flex-direction: column;
}

.additionally__item {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

.additionally__item:not(:last-child) {
  margin-bottom: 20px;
}

.additionally__checkbox {
  width: 25px;
  height: 25px;
}

.information {
  max-width: 980px;
  margin: 0 auto;
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

.information__flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
  gap: 50px;
}

.information-block1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: -16px;
}

.information-block1-5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3 ;
}

.information-block2__wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.information-block2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.information-block3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.date-time {
  display: flex;
  gap: 32px;
}

.date-time__input {
  width: 134px;
  height: 52px;
  padding: 12px 20px;
}

.numberPersons {
  width: 300px;
  height: 52px;
  color: #211E1E;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 12px 20px;
}

.information-block2 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.information-block2__input {
  width: 280px;
  height: 52px;
}

.information-block3__input {
  width: 300px;
  height: 52px;
}

.information-block3 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.reservation__submit_wrapper {
  max-width: 980px;
  text-align: right;
  margin: 0 auto;
}

.reservation__submit {
  color: #6C0287;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  box-shadow: 0 0 15px #fff;

  border: 3px solid transparent;
  border-radius: 10px;
  padding: 13px 47px;
}

.reservation__hall__label:hover {
  border: 3px solid #640AA3;
  background: #EADEED;
  padding: 4px 12px 5px;
}

.reservation__hall__label:focus {
  border: 3px solid #640AA3;
  background: #FFF;
  padding: 4px 12px 5px;
}

.reservation__hall__label:active {
  border: 3px solid #FFF;
  background: #6C0287;
}

.reservation__submit:hover {
  border: 3px solid #6C0287;
  background: #EADEED;
}

.reservation__submit:active {
  background: #EADEED;
}

.reservation__submit:focus {
  border: 3px solid #6C0287;
  background: #FFF;
}

@media (max-width: 1439px) {
  .reservation {
    margin-bottom: 70px;
  }

  .reservation__form {
    padding-bottom: 60px;
  }

  .reservation__title {
    font-size: 30px;
    line-height: 40px;
    padding-top: 60px;
    margin-bottom: 25px;
  }

  .reservation__legend {
    margin-bottom: 26px;
  }

  .reservation__hall__label {
    width: 180px;
    height: 44px;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 20px;
  }

  .entertainment {
    max-width: 100%;
  }

  .information {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .information__flex {
    grid-template-columns: 300px 251px 254px ;
    justify-content: space-between;
  }

  .information-block2__input {
    width: 251px;
  }

  .information-block3__input {
    width: 254px;
  }

  .reservation__submit_wrapper {
    max-width: 100%;
  }

  .reservation__submit {
    width: 254px;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 46px;
  }
}

@media (max-width: 1024px) {
  .reservation {
    margin-bottom: 60px;
  }

  .reservation__form {
    padding-bottom: 50px;
  }

  .reservation__title {
    font-size: 24px;
    line-height: 36px;
    padding-top: 50px;
    margin-bottom: 40px;
  }

  .reservation__hall {
    margin-bottom: 50px;
  }

  .reservation__hall__label {
    width: 150px;
    height: 38px;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 20px;
  }

  .reservation__legend {
    margin-bottom: 30px;
  }

  .reservation__legend_margin {
    margin-bottom: -18px;
  }

  .information__flex {
    grid-template-columns: 280px 300px;
    grid-template-rows: 52px 74px 74px;
    justify-content: space-between;
  }

  .information-block1 {
    margin-bottom: -48px;
  }

  .date-time {
    gap: 14px;
  }

  .information-block1-5 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: -48px;
  }

  .information-block2 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .information-block2__input {
    width: 280px;
  }

  .information-block3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .information-block3__input {
    width: 300px;
  }

  .reservation__submit {
    width: 300px;
    height: 60px;
    font-size: 22px;
    line-height: 28px;
    padding: 16px 50px;
  }
}

@media (max-width: 768px) {
  .entertainment {
    margin-bottom: 50px;
  }

  .entertainment__flex {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 151px;
    gap: 32px;
  }

  .entertainment__console__input {
    width: 40px;
    height: 40px;
  }

  .board-games__checkbox  {
    width: 40px;
    height: 40px;
  }

  .additionally__checkbox {
    width: 40px;
    height: 40px;
  }
}
 
@media (max-width: 700px) {
  .reservation {
    margin-bottom: 30px;
  }

  .reservation__form {
    padding-bottom: 30px;
  }

  .reservation__hall__flex {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 14px;
  }

  .reservation__hall__label {
    width: 130px;
    height: 30px;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 20px;
  }

  .reservation__legend_margin {
    margin-bottom: 25px;
  }

  .information {
    margin-bottom: 30px;
  }

  .information__flex {
    grid-template-columns: 1fr;
    grid-template-rows: 52px 52px 178px 178px;
    gap: 15px;
  }

  .information-block1 {
    margin-bottom: 0;
  }

  .date-time {
    justify-content: center;
  }

  .information-block1-5 {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    text-align: center;
    margin-bottom: 0;
  }

  .numberPersons {
    width: 280px;
  }

  .information-block2__wrapper {
    width: 280px;
  }

  .information-block2 {
    width: 100%;
    grid-column: 1 / 1;
    grid-row: 3 / 4;
    padding-top: 20px;
    gap: 15px;
    align-items: center;
  }

  .information-block3__wrapper {
    width: 280px;
  }

  .information-block3 {
    width: 100%;
    grid-column: 1 / 1;
    grid-row: 4 / 5;
    padding-top: 40px;
    gap: 15px;
    align-items: center;
  }

  .information-block3__input {
    width: 280px;
  }

  .reservation__submit_wrapper {
    text-align: center;
  }

  .reservation__submit {
    width: 280px;
    height: 60px;
    font-size: 18px;
    line-height: 26px;
    padding: 17px 58px;
  }
}

@media (max-width: 550px) {
  .reservation__form {
    padding-bottom: 30px;
  }

  .entertainment {
    margin-bottom: 30px;
  }

  .entertainment__flex {
    grid-template-columns: 1fr;
    grid-template-rows: 198px 213px 113px;
    gap: 25px;
  }

  .entertainment__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .entertainment__console__item {
    font-size: 16px;
  }

  .entertainment__console__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .entertainment__console__input {
    width: 30px;
    height: 30px;
  }

  .board-games__item  {
    font-size: 16px;

  }

  .board-games__checkbox {
    width: 30px;
    height: 30px;
  }

  .additionally__item {
    font-size: 16px;
  }

  .additionally__checkbox {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 425px) {
  .reservation__title {
    font-size: 14px;
    line-height: 20px;
    padding-top: 30px;
    margin-bottom: 15px;
  }

  .reservation__hall {
    margin-bottom: 30px;
  }

  .reservation__legend {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .reservation__hall__flex {
    justify-content: space-between;
    column-gap: 0;
  }
}