.reservation {
  background-color: #440F51;
  margin-bottom: 50px;
}

.reservation__form {
  padding-bottom: 80px;
}

.reservation__title {
  padding-top: 80px;
  margin-bottom: 40px;
}

.reservation__hall {
  border: none;
  margin-bottom: 60px;
}

.reservation__legend {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 40px;
}

.reservation__hall__flex {
  display: flex;
  justify-content: space-between;
}

.reservation__hall__label {
  width: 250px;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #FFF;

  cursor: pointer;
  border-radius: 8px;
  padding: 7px 15px 8px;
}

.entertainment {
  max-width: 980px;
  border: none;
  margin: 0 auto 60px;
}

.entertainment__flex {
  display: flex;
  justify-content: space-between;
}

.entertainment__console {
  border: none;
}

.entertainment__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 24px;
}

.entertainment__console__flex {
  display: flex;
  flex-direction: column;
}

.entertainment__console__item {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

.entertainment__console__item:not(:last-child) {
  margin-bottom: 20px;
}

.entertainment__console__input {
  width: 27px;
  height: 27px;
}

.board-games {
  border: none;
}

.board-games__flex {
  display: flex;
  flex-direction: column;
}

.board-games__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

.board-games__item:not(:last-child) {
  margin-bottom: 20px;
}

.board-games__checkbox {
  width: 25px;
  height: 25px;
}

.additionally {
  border: none;
}

.additionally__flex {
  display: flex;
  flex-direction: column;
}

.additionally__item {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

.additionally__item:not(:last-child) {
  margin-bottom: 20px;
}

.additionally__checkbox {
  width: 25px;
  height: 25px;
}

.information {
  max-width: 980px;
  margin: 0 auto;
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

.information__flex {
  display: flex;
  align-items: end;
  gap: 50px;
}

.information-block1 {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.date-time {
  display: flex;
  gap: 32px;
}

.date-time__input {
  width: 134px;
  height: 52px;
  padding: 12px 20px;
}

.numberPersons {
  width: 300px;
  height: 52px;
  color: #211E1E;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 12px 20px;
}

.information-block2 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.information-block2__input {
  width: 280px;
  height: 52px;
}

.information-block3__input {
  width: 300px;
  height: 52px;
}

.information-block3 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.reservation__submit_wrapper {
  max-width: 980px;
  text-align: right;
  margin: 0 auto;
}

.reservation__submit {
  color: #6C0287;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;

  border: 3px solid transparent;
  border-radius: 10px;
  padding: 13px 47px;
}

.reservation__hall__label:hover {
  border: 3px solid #640AA3;
  background: #EADEED;
  padding: 4px 12px 5px;
}

.reservation__hall__label:focus {
  border: 3px solid #640AA3;
  background: #FFF;
  padding: 4px 12px 5px;
}

.reservation__hall__label:active {
  border: 3px solid #FFF;
  background: #6C0287;
}

.reservation__submit:hover {
  border: 3px solid #6C0287;
  background: #EADEED;
}

.reservation__submit:active {
  background: #EADEED;
}

.reservation__submit:focus {
  border: 3px solid #6C0287;
  background: #FFF;
}