.reviews {
  font-size: 20px;
  margin-bottom: 100px;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__item {
  max-width: 980px;
  margin: 0 auto;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__flex {
  display: flex;
  gap: 20px;
}

.reviews__figure {
  text-align: center;
}

.reviews__img {
  width: 280px;
  height: 280px;
  position: relative;
  margin-bottom: 11px;
}

.reviews__img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 0%, rgba(108, 2, 135, 0.50) 100%);
  border-radius: 140px;
}

.reviews__p {
  padding-top: 52px;
}