.section-title {
  height: 823px;
  margin-top: 146px;
  position: relative;
  margin-bottom: 100px;
}

h1 {
  font-size: 150px;
  letter-spacing: -15px;
  line-height: 100%;
}

.section-title_p {
  font-size: 28px;
  line-height: 50px;
  margin-left: 100px;
}

.psevdo::after {
  content: "";
  display: inline-block;
  width: 675px;
  height: 762px;
  position: absolute;
  background-image: url(/img/Слой\ 1\ 1.png);
  background-repeat: no-repeat;
  right: 77px;
  top: 55px;
}