* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1B1A1B;
  color: #FFFFFF;
}

h1, h2, p {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

button, a, a::after, label, div::after, div:hover::after ,svg {
  transition-duration: 0.3s;
  transition-property: color, background, border;
}

.container {
  max-width: 1700px;
  padding: 0 130px;
  margin: 0 auto;
}

@media (max-width: 1439px) {
  .container {
    max-width: 1124px;
    padding: 0 60px;
  }
}

@media (max-width: 930px) {
  .container {
    max-width: 768px ;
    padding: 0 40px;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 0 20px;
  }
}