* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1B1A1B;
  color: #FFFFFF;
}

h1, h2, p {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

.container {
  max-width: 1180px;
  /* padding: 30px; */
  margin: 0 auto;
}