.we-have {
  margin-bottom: 20px;
}

.we-have__title_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.we-have__title {
  max-width: 875px;
}

.we-have__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}

.we-have__item {
  transition-duration: 0.5s;
}

.we-have__item:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.we-have__item_top {
  margin-top: -70px;
}

.we-have__figure {
  position: relative;
}

.we-have__audio-sistem {
  padding-top: 70px;
}

.we-have__img {
  width: 100%;
}

.we-have__figcap {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;

  position: absolute;
  left: 40px;
  bottom: 34px;
}

.we-have__figcap_width1 {
  max-width: 197px;
  bottom: 13px;
}

.we-have__figcap_width2 {
  max-width: 265px;
  bottom: 11px;
}

@media (max-width: 1439px) {
  .we-have {
    margin-bottom: 10px;
  }

  .we-have__title_wrapper {
    margin-bottom: 36px;
  }

  .we-have__title {
    max-width: 660px;
    font-size: 30px;
    line-height: 40px;
  }

  .we-have__list {
    row-gap: 30px;
  }

  .we-have__audio-sistem {
    padding-top: 53px;
  }

  .we-have__figcap {
    left: 20px;
    bottom: 30px;
  }

  .we-have__figcap_width1 {
    max-width: 197px;
    bottom: 12px;
  }

  .we-have__figcap_width2 {
    max-width: 260px;
    bottom: 12px;
  }

  .we-have__img_padding {
    padding-top: 50px;
  }
}

@media (max-width: 930px) {
  .we-have {
    margin-bottom: 60px;
  }

  .we-have__title_wrapper {
    margin-bottom: 30px;
  }

  .we-have__title {
    max-width: 420px;
    font-size: 24px;
    line-height: 36px;
  }

  .we-have__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .we-have__audio-sistem {
    padding-top: 0;
  }

  .we-have__item_top {
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  .we-have {
    margin-bottom: 30px;
  }

  .we-have__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .we-have__list {
    gap: 10px;
  }

  .we-have__figcap {
    font-size: 10px;
    line-height: 14px;
    left: 10px;
  }

  .we-have__figcap_karaoke {
    max-width: 60px;
  }

  .we-have__figcap_width2 {
    max-width: 110px;
  }
}