.we-have {
  margin-bottom: 170px;
}

.we-have__title_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.we-have__title {
  max-width: 875px;
}

.we-have__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
}

.we-have__item {
  max-width: 380px;
  max-height: 228px;
  position: relative;
  transition-duration: 0.5s;
}

.we-have__item:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.we-have__img_padding {
  padding-top: 70px;
}

/* .we-have__item:nth-child(2) {
  padding-top: 70px;
} */

.we-have__figcap {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;

  position: absolute;
  left: 40px;
  bottom: 34px;
}

.we-have__figcap_width1 {
  max-width: 197px;
  /* bottom: 11px; */
  bottom: -61px;
}

.we-have__figcap_width2 {
  max-width: 265px;
  bottom: 11px;
}