.we-have {
  margin-bottom: 100px;
}

.we-have__title_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.we-have__title {
  max-width: 875px;
}

.we-have__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
}

.we-have__item {
  position: relative;
}

.we-have__figcap {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;

  position: absolute;
  left: 40px;
  bottom: 34px;
}

.we-have__figcap_width1 {
  max-width: 197px;
  bottom: 11px;
}

.we-have__figcap_width2 {
  max-width: 265px;
  bottom: 11px;
}